body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.container {
    padding: 2% 7%;
}

.logo {
    text-align: center;
}

.logo img {
    width: 12rem;
    height: 4.5rem;
}

.banner {
    background-color: #153198;
    color: white;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.banner-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text-1 {
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 150%;
    color: #FFFFFF;
}

.banner-text-2 {
    font-size: 1.5rem;
    line-height: 150%;
    color: #FFFFFF;
}

.form {
    text-align: center;
}

.form-text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.45rem;
    color: #052a4e;
    /* text-align: center; */
}

.form-text1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #052A4E;
    margin-bottom: 1rem;
}


form input {
    /* width: 490px; */
    width: 31.125rem;
    height: 3.125rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 0.625rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 180%;
    color: #052a4e;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

input::placeholder {
    color: #052a4e;
}

.form-button {
    width: 15.5rem;
    height: 3.5rem;
    background: linear-gradient(84.05deg, #0d63f1 2.91%, #1791ed 103.25%);
    border-radius: 3.31rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 150%;
    color: #ffffff;
    border: none;
    left: 50%;
    cursor: pointer;
}

.programs {
    background-color: #F7F6FC;
}

.programs-1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;
}

.programs-2 {
    text-align: justify;
    font-size: 1.125rem;
    line-height: 180%;
    color: #322C49;
}

.programs-3 {
    display: flex;
    justify-content: space-between;
}


.programs-3-1 p {
    font-size: 1.25rem;
    line-height: 150%;
    color: #052A4E;
}

.programs-3-1 li {
    font-size: 1.125rem;
    line-height: 150%;
    color: #322C49;
}


.programs-3-2 img {
    height: 21.8rem;
    width: 37.75rem;
}

.programs-4 {
    text-align: center;
    font-size: 1rem;
    line-height: 180%;
}

.deadline-advantages p:first-child {
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;
    text-align: center;
}

.cards-div {
    display: flex;
    justify-content: space-between;
}

.cards {
    padding-left: 2%;
    padding-right: 2%;
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.profile-building-heading {
    font-size: 2rem;
    line-height: 180%;
    color: #322C49;
    text-align: center;
}

.profile-img {
    background-image: url("./Assets/profile building.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 7.5rem;
    margin-bottom: 1rem;
}

.plan {
    display: flex;
    justify-content: space-around;
}

.application-process {
    padding-left: 1rem;
    display: flex;
    margin-top: 1rem;
}

.part-1 {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
}

.part-1 img {
    width: 11.6rem;
    text-align: center;
}

.part-2 {
    margin-right: 13rem;
    margin-top: 0;
}

.part-3 {
    display: flex;
    flex-direction: column;
}

.part-3-1 {
    display: flex;
    /* justify-content: space-between;
    border:2px solid red;
    width:100%; */
    padding-right: 0rem;
    margin-right: 0rem;
}

.part-3-1 div:first-child {
    margin-right: 2rem;
}


.part-3-1 div:nth-child(2) {
    margin-right: 3.2rem;
}

.part-3-2 {
    text-align: center;
}

.why-better {
    background-color: #FEFDF5;
    text-align: center;
}

.why-better p:first-child {
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;
}

.why-better p:nth-child(2) {
    font-size: 1.25rem;
    line-height: 180%;
    text-align: center;
}

.best p:first-child {
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;
    text-align: center;
}

.best-div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best-cards {
    width: 22rem;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
}

.best-cards p:nth-child(2) {
    font-size: 1rem;
    line-height: 150%;
    color: #052A4E;
}

.best-cards p:nth-child(3) {
    font-size: 0.875rem;
    line-height: 180%;
}

.best-div1 {
    display: flex;
    justify-content: space-between;
}

.why-better {
    background-color: #FEFDF5;
}

.why-need-tablet {
    background-color: #F9FCFE;
    ;
}

.why-need-tablet p {
    text-align: center;
}



.why-need-tablet p:nth-child(1) {
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;

}

.why-need-tablet p:nth-child(2) {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #322C49;
}

.why-need-tablet1 {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.why-need-tablet1-1 {
    text-align: center;
}


.why-need-tablet1-2 {
    font-size: 1.125rem;
    line-height: 180%;
    color: #322C49;
}

.success-stories-1 {
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;
    text-align: center;
}

.success-cards-div {
    display: flex;
    justify-content: space-between;
}

.success-cards {
    height: 27rem;
    /* width: 24.5rem; */
    width: 22rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.success-card-1 {
    height: 45%;
    border: 1px solid #848484;
    background-color: #848484;
    border-radius: 16px 16px 0px 0px;
}

.success-card-gmat-mba {
    position: relative;
    margin-top: 0.75rem;
}

.gmat-mba {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.success-cards {
    padding: 0.5% 0.5%;
}

.success-card-1-1 {
    display: flex;
    margin-top: 4rem;
    margin-left: 0.75rem;
}

.success-details p {
    margin-bottom: 0rem;
}

.success-details {
    margin-left: 0.5rem;
}



.MBA-2021 {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.success-details p:first-child {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-top: 0rem;
}

.success-details p:last-child {
    font-size: 0.875rem;
    line-height: 1.06rem;
    color: #FFFFFF;
}

.success-card-2 {
    height: 55%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.success-card-2-1 {
    display: flex;
    justify-content: space-between;
    height: 10rem;
}

.success-col-1 div,
.success-col-3 div {
    width: 7rem;
    font-size: 0.875rem;
    line-height: 150%;
    color: #413F4E;
    text-align: center;
}

.success-col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.college-name {
    display: flex;
    justify-content: space-between;
}

.college-name p {
    width: 9rem;
    font-size: 0.875rem;
    line-height: 150%;
    color: #413F4E;
    /* text-align: center; */
}

.college-name img {
    height: 0.75rem;
    border: 2px solid red;
    text-align: center;
}

/* .college-name p:last-child {
    display: flex;
    justify-content: ;
} */

.college-name div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.college-img {
    display: flex;
    justify-content: space-between;
}

.college-img div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
}


.feedback p {
    text-align: center;
    font-size: 1rem;
    line-height: 150%;
    color: #052A4E;
}


.achieve-dream-score p:first-child {
    font-size: 2rem;
    line-height: 150%;
    text-align: center;
}

.achieve-dream-score-1 {
    display: flex;
    justify-content: space-between;
}

.achieve-dream-score-1-text {
    display: flex;
    flex-direction: column;
}

.achieve-dream-score-1-text p {
    margin-bottom: 0rem;
    font-size: 1.125rem;
    line-height: 180%;
    color: #322C49;
}

.achieve-dream-score-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achieve-dream-score p:last-child {
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
    color: #322C49;
}


.about-careerlabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #F8F8FF;
}

.about-careerlabs-img {
    background-image: url(./Assets/about-careerlabs-web.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 22.5rem;
    width: 37.75rem;
    /* border: 1px solid red; */
}

.about-careerlabs-text {
    width: 37rem;
}

.about-careerlabs-text1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.43rem;
    color: #052A4E;
}

.about-careerlabs-text2 {
    font-size: 1.125rem;
    line-height: 180%;
    color: #413F4E;
}

#form-1 {
    background-color: #EAEAFF;
}

.form-text1 {
    font-size: 1.125rem;
    line-height: 180%;
    text-align: center;
    color: #322C49;
}

.check-box-div {
    display: flex;
    margin-bottom: 1.25rem;
    justify-content: center;
}

#checkbox {
    margin-right: 0.625rem;
    margin-bottom: 0rem;
    height: 1rem;
    width: 1rem;
}

#checkbox-text {
    font-size: 0.875rem;
    line-height: 180%;
    color: #052A4E;
}

#footer {
    height: 5rem;
    background: #001B78;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    color: #ffffff;
}




/* mobile-view */
@media (max-width: 576px) {
    .logo img {
        width: 7rem;
        height: 2rem;
    }

    .banner {
        height: 40vh;
    }

    .container {
        padding: 1% 5%;
    }

    .banner-text-1 {
        font-size: 1rem;
    }

    .banner-text-2 {
        font-size: 0.75rem;
    }

    .banner-2 img {
        width: 7rem;
        height: 3rem;
    }

    .form {
        text-align: center;
    }

    form input {
        width: 20rem;
        height: 3rem;
        margin-right: 0rem;
    }

    .form-button {
        width: 11.25rem;
        height: 3rem;
        font-size: 0.875rem;
    }

    .form-text {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .form-text1 {
        font-size: 0.825rem;
        line-height: 1.75rem;
    }

    .programs-1 {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .programs-2 {
        font-size: 0.875rem;
        line-height: 180%;
    }

    .programs-3 {
        flex-direction: column;
    }

    .programs-3-1 {
        order: 2;
    }

    .programs-3-1 p {
        font-size: 1rem;
    }

    .programs-3-1 li {
        font-size: 0.875rem;
    }


    .programs-3-2 img {
        width: 100%;
        height: 11.8rem;
        order: 1;
    }

    .programs-4 {
        font-size: 0.875rem;
    }

    .deadline-advantages p:first-child {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .cards-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cards {
        width: auto;
        height: 11rem;
        margin-bottom: 1rem;
    }

    .profile-building p {
        font-size: 0.75rem;
    }

    .profile-building img {
        max-width: 77.25rem;
    }

    .why-better p:first-child {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .why-better p:nth-child(2) {
        font-size: 0.875rem;
        line-height: 180%;
    }

    .best p:first-child {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .best-div1 {
        display: flex;
        flex-direction: column;
    }

    .best-cards {
        width: auto;
    }


    .why-need-tablet p:nth-child(1) {
        font-size: 1.125rem;
        line-height: 150%;
    }

    .why-need-tablet p:nth-child(2) {
        font-size: 0.875rem;
        line-height: 150%;
    }

    .why-need-tablet1 {
        display: block;
    }

    .why-need-tablet1-1 img {
        width: 12.43rem;
        height: 12.43rem;
    }


    .why-need-tablet1-2 {
        font-size: 0.875rem;
        line-height: 180%;
    }


    .achieve-dream-score p:first-child {
        font-size: 1.125rem;
    }

    .achieve-dream-score-1 {
        flex-direction: column;
    }

    .achieve-dream-score-1-text p {
        font-size: 0.875rem;
    }

    .achieve-dream-score-1-img img {
        width: 10.81rem;
        height: 8.5rem;
    }

    .achieve-dream-score p:last-child {
        font-size: 0.875rem;
    }

    .about-careerlabs {
        display: block;
    }

    .about-careerlabs-img {
        background-image: url(./Assets/about-careerlabs-mobile.png);
        width: 100%;
    }

    .about-careerlabs-text {
        width: 100%;
    }

    .about-careerlabs-text1 {
        font-size: 1.125rem;
        line-height: 1.37rem;
    }

    .about-careerlabs-text2 {
        font-size: 0.875rem;
        line-height: 180%;
    }

    .success-stories-1 {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .success-cards-div {
        flex-direction: column;
    }

    .success-cards {
        margin-bottom: 1rem;
        width: auto;
        height: auto;
    }

    #checkbox {
        height: 1.125rem;
        width: 1.375rem;
    }

    #footer {
        height: 3.5rem;
    }
}